/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --bg-color: #efefef;
  --text-color: #000000;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
  -o-object-position: center;
     object-position: center;
}

nav {
  background-color: #a4a4a4;
  padding: 1.5rem 1rem;
  -webkit-box-shadow: 0px 3px 8px 1px #0000001a;
          box-shadow: 0px 3px 8px 1px #0000001a;
  text-align: center;
}

nav h5 {
  font-size: 1.444rem;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1480px;
  margin: 0 auto;
}

.left {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.img-container {
  position: relative;
  max-width: 800px;
  margin: 4rem auto;
}

.droparea {
  margin: 4rem auto;
  width: 500px;
  height: 200px;
  border-radius: 8px;
  border: 2px dashed #020202;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.dot {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1.5rem;
  height: 1.5rem;
  background-color: #c022dc;
  border-radius: 50%;
  border: #eee 2px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.readout {
  position: relative;
  max-width: 800px;
  margin: 4rem auto;
}

.readout__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 0;
}

.readout__item:nth-child(even) {
  background: #a4a4a4;
}

.readout__remove {
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  background-color: #0000;
}

.highlight {
  font-weight: 900;
}

.file-input {
  color: rgba(0, 0, 0, 0);
  display: inline-block;
  width: 146px;
}

.file-input::-webkit-file-upload-button {
  visibility: hidden;
  opacity: 0;
}

.file-input::before {
  content: 'Select some files';
  display: inline-block;
  background: #0088ff;
  border: 1px solid #000000;
  border-radius: 3px;
  padding: 1rem 1.125rem;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 700;
  font-size: 10pt;
  color: #000000;
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.file-input:hover::before {
  background: #1a94ff;
}

.file-input:active::before {
  background: #007ae6;
}
/*# sourceMappingURL=index.css.map */